<style>
.nav {
border-color: #E2A2FA;
border-style: solid;
border-radius: 10px;
color: #E2A2FA;
padding: 0px;
margin: -15px;
}
.table {
display: table;
width: 100%;
margin: auto;
max-width: 1200px;
}
.logo {
width: 160px;
height: 110px; 
position: relative;
left: 200px;
}
</style>
